<EspMenu @position="left" @pushMenu={{this.pushLeftMenu}} @open={{this.showLeftSlideMenu}} >
  <h3>Menu</h3>
  <a href="#">Celery seakale</a>
  <a href="#">Dulse daikon</a>
  <a href="#">Zucchini garlic</a>
  <a href="#">Catsear azuki bean</a>
  <a href="#">Dandelion bunya</a>
  <a href="#">Rutabaga</a>
</EspMenu>

<EspMenu @position="right" @pushMenu={{this.pushRightMenu}} @open={{this.showRightSlideMenu}}>
  <h3>Menu</h3>
  <a href="#">Celery seakale</a>
  <a href="#">Dulse daikon</a>
  <a href="#">Zucchini garlic</a>
  <a href="#">Catsear azuki bean</a>
  <a href="#">Dandelion bunya</a>
  <a href="#">Rutabaga</a>
</EspMenu>

<EspMenu @horizontal={{true}} @position="top" @open={{this.showTopSlideMenu}}>
  <h3>Menu</h3>
  <a href="#">Celery seakale</a>
  <a href="#">Dulse daikon</a>
  <a href="#">Zucchini garlic</a>
  <a href="#">Catsear azuki bean</a>
  <a href="#">Dandelion bunya</a>
  <a href="#">Rutabaga</a>
  <a href="#">Celery seakale</a>
  <a href="#">Dulse daikon</a>
  <a href="#">Zucchini garlic</a>
  <a href="#">Catsear azuki bean</a>
  <a href="#">Dandelion bunya</a>
  <a href="#">Rutabaga</a>
</EspMenu>

<EspMenu @horizontal={{true}} @position="bottom" @open={{this.showBottomSlideMenu}} @customClasses="my-custom-menu">
  <h3>Menu</h3>
  <a href="#">Celery seakale</a>
  <a href="#">Dulse daikon</a>
  <a href="#">Zucchini garlic</a>
  <a href="#">Catsear azuki bean</a>
  <a href="#">Dandelion bunya</a>
  <a href="#">Rutabaga</a>
  <a href="#">Celery seakale</a>
  <a href="#">Dulse daikon</a>
  <a href="#">Zucchini garlic</a>
  <a href="#">Catsear azuki bean</a>
  <a href="#">Dandelion bunya</a>
  <a href="#">Rutabaga</a>
</EspMenu>

<div class="container">
  <header class="clearfix">
    <h1>Ember Slide and Push Menus</h1>
  </header>
  <div class="main">
    {{!-- <p><a href="docs">Documentation</a></p> --}}
    <section>
      <h2>Slide Menus</h2>
      {{!-- <!-- Class "cbp-spmenu-open" gets applied to menu --> --}}
      <button type="button" id="showLeft" {{ on "click" (fn this.toggleMenu  "leftSlide") }}>Show/Hide Left Slide Menu</button>
      <button type="button" id="showRight" {{ on "click" (fn this.toggleMenu  "rightSlide") }}>Show/Hide Right Slide Menu</button>
      <button type="button" id="showTop" {{ on "click" (fn this.toggleMenu  "topSlide") }}>Show/Hide Top Slide Menu</button>
      <button type="button" id="showBottom" {{ on "click" (fn this.toggleMenu "bottomSlide") }}>Show/Hide Bottom Slide Menu</button>
    </section>
    <section class="buttonset">
      <h2>Push Menus</h2>
      {{!-- <!-- Class "cbp-spmenu-open" gets applied to menu and "cbp-spmenu-push-toleft" or "cbp-spmenu-push-toright" to the body --> --}}
      <button type="button" id="showLeftPush" {{ on "click" (fn  this.togglePushMenu "leftSlide") }}>Show/Hide Left Push Menu</button>
      <button type="button" id="showRightPush" {{ on "click" (fn this.togglePushMenu "rightSlide") }}>Show/Hide Right Push Menu</button>
    </section>
  </div>
</div>
